<%- include ("../partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('../partials/header') %> 
    <main class="main_login">

      <div class="login_container">
        <section class="intro_login">
          <h2>Crear nuevo producto</h2>
        </section>
        <!-- SIGN IN -->
        <section class="sign_in_form">

          <form action="/products/create" method="POST" enctype="multipart/form-data">

            <div class="input_containers">
              <label for="model">Modelo</label>
              <input class="login_input" type="text" name="model" id="model" required <% if(locals.errors){ %>
                value="<%= locals.old && old.model %>"
              <%} %> />
              <!-- This will only appear when frontend validation fails -->
              <div class="popup"> 
                <span class="popuptext" id="myPopup">El nombre del producto tiene que tener más de 5 letras</span>
              </div>

              <% if(locals.errors && errors.model){%>
                <p style="color:red"><%= errors.model.msg %></p>
              <%} %> 
            </div>
            <div class="input_containers">
              <p>Categoría</p>
                <div class="product_radio">
                  <select name="id_type" id="id_type">
                  <option value="" disabled selected> Seleccionar</option>
                  <% for(let i=0; i<type.length; i++) { %>
                    <option value="<%=type[i].id%>"><%=type[i].name%></option>
                    <% } %> 
                  </select>
                </div>
                <% if(locals.errors && errors.id_type){%>
                  <p style="color:red"><%= errors.id_type.msg %></p>
                <%} %> 
              </div>
                <br>
            <div class="new_product_price">
              <label for="price">Precio</label>
              <input class="price_input" type="number" name="price" id="price" <% if(locals.errors){ %>
                value="<%= locals.old && old.price %>"
              <%} %> />
              <% if(locals.errors && errors.price){%>
                <p style="color:red"><%= errors.price.msg %></p>
              <%} %> 
            </div>

            <div class="input_containers">
              <p>Marca</p>
                <div class="product_radio">
                  <select name="id_brand" id="id_brand">
                  <option value="" disabled selected> Seleccionar</option>
                  <% for(let i=0; i<brand.length; i++) { %>
                    <option value="<%=brand[i].id%>"><%=brand[i].name%></option>
                    <% } %> 
                  </select>
                </div>
                <% if(locals.errors && errors.id_brand){%>
                  <p style="color:red"><%= errors.id_brand.msg %></p>
                <%} %> 
              </div>

              <div class="input_containers">
                <p>Color</p>
                  <div class="product_radio">
                    <select name="id_color" id="id_color">
                    <option value="" disabled selected> Seleccionar</option>
                    <% for(let i=0; i<color.length; i++) { %>
                      <option value="<%=color[i].id%>"><%=color[i].name%></option>
                      <% } %> 
                    </select>
                  </div>
                  <% if(locals.errors && errors.id_color){%>
                    <p style="color:red"><%= errors.id_color.msg %></p>
                  <%} %> 
                </div>

            <div class="input_containers">
              <label for="description">Descripción del producto</label>
              <input class="login_input" type="text" name="description" id="description" <% if(locals.errors){ %>
                value="<%= locals.old && old.description %>"
              <%} %> />
              <!-- This will only appear when frontend validation fails -->
              <div class="popup"> 
                <span class="popuptext" id="myPopup2">Descripcion mayor a 20 caracteres</span>
              </div>

              <% if(locals.errors && errors.description){%>
                <p style="color:red"><%= errors.description.msg %></p>
              <%} %> 
            </div>

              <br>

              <div class="upload_file">
                <!-- This will only appear when frontend validation fails -->
                <div class="popup"> 
                  <span class="popuptext" id="myPopup3">Tipo de archivo incorrecto. Extensiones aceptadas: .jpg .jpeg .png .gif</span>
                </div>
                  <input type="file" name="upload_img" id="upload_img">
                  
                  <label for="upload_img">Upload Image (this will be a drag and drop)</label>
                  <% if(locals.errors && errors.upload_img){%>
                    <p style="color:red"><%= errors.upload_img.msg %></p>
                  <%} %> 
              </div>
              
            </div>
            <button type="submit" class="create_button">Crear</button>
          </form>
        </section>
      </div>
    </main>

    <%- include ('../partials/footer') %> 
    <%- include ('../partials/cursor') %> 

    <script src="/js/productsValidations.js"></script> 
  </body>
</html>