<%- include ("../partials/head") %>
    <!-- HEAD -->

    <body>
        <%- include ('../partials/header') %>


            <main class="user_list_main">
                <h3>Lista de instrumentos</h3>
                <div class="userList-wrapper">

                    <table class="userList-container">
                        <tr>
                            <th>Id</th>
                            <th>Tipo</th>
                            <th>Marca</th>
                            <th> </th>
                        </tr>
                        <% for(let i=0;i<products.length;i++){ %>
                            <div class="userL">
                                <tr>
                                    <td>
                                        <h4 class="sub subborder">
                                            <%=products[i].id%>:
                                        </h4>
                                    </td>
                                    <td>
                                        <p class="sub subborder">
                                                <%=products[i].type.name%>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="sub subborder">
                                            <%=products[i].brand.name%>
                                        </p>
                                    </td>
                                    <td> <a class="sub" href="../products/edit/">Edit</a></td>
                                </tr>
                            </div>
                            <% } %>

                    </table>

                    <p class="p_without_margin">Cantidad de instrumentos: <%= products.length%>
                    </p>
                </div>
            </main>

                <%- include ('../partials/cursor') %>
    </body>

    </html>