<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MASA I.M./ Productos</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include ('../partials/header') %>
    <main class="mainProduct">
        <section class="section2-main-product">
      <% for( let i = 0; i < products.length; i++ ) { %>

        <h3><strong><%= products[i].type %> </strong></h3>
        <ul class="list-descrip">
          <li><strong>ID: </strong><%= products[i].id %></li>
          <li><strong>MARCA: </strong> <%= products[i].brand %></li>
          <li><strong>MODELO: </strong> <%= products[i].model %></li>
          <li><strong>COLOR: </strong><%= products[i].color %></li>
          <li><strong>DESCRIPCION: </strong><%= products[i].description %></li>
          <li><strong>PRECIO: </strong><%= products[i].price %></li>
        </ul>
        <div class="sale-prod">
          <p class="estilo-comprar">VER</p>
        </div>

      <!-- <section class="section-listProducts">
          <img class="image-listProducts" src="../img/<%= products[i].image %> " alt="<%= products[i].image %>">
      </section> -->
      <% } %>
    </section>
    </main>
    <%- include('../partials/footer') %> <%- include('../partials/cursor') %>
  </body>
</html>
