<%- include ("../partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('../partials/header') %>
    <main class="mainProduct">
      <section class="section2-main-product">
        <% for( let i = 0; i < products.length; i++ ) { %>
        <article class="articleListProducts">
          <div class="divListProducts">
            <h3><strong><%= products[i].type %> </strong></h3>
            <ul class="list-descrip">
              <li>
                <i><strong>ID: </strong></i><%= products[i].id %>
              </li>
              <li>
                <i><strong>MARCA: </strong></i><%= products[i].brand %>
              </li>
              <li>
                <i><strong>MODELO: </strong></i> <%= products[i].model %>
              </li>
              <li>
                <i><strong>COLOR: </strong></i><%= products[i].color %>
              </li>
              <li>
                <i><strong>DESCRIPCION: </strong></i><%= products[i].description
                %>
              </li>
              <li>
                <i><strong>PRECIO: </strong></i><%= products[i].price %>
              </li>
            </ul>
          </div>
          <div class="sale-listProduct">
            <img
              class="image-listProducts"
              src="../img/<%= products[i].image %> "
              alt="<%= products[i].image %>"
            />
            <!--<p class="estilo-comprar">VER</p>-->
            <a href="./products/detail/<%= products[i].id %>" class="estilo-comprar">VER</a>
          </div>
        </article>
        <% } %>
      </section>
    </main>
    <%- include('../partials/footer') %> <%- include('../partials/cursor') %>
  </body>
</html>
