<%- include ("partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('partials/header') %> 
    <main class="main_login">
        <!-- Modificar aquí con mensaje y estilos amigables -->
        <h2>Esta página es solo para <%= mensaje %>  </h2>
    </main>

    <%- include ('partials/footer') %>
    <%- include ('partials/cursor') %>  
  </body>
</html>
