<%- include ("../partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('../partials/header') %> 
    <main class="main_login">
      <div class="login_container"> 
        <section class="intro_login">
          <h2>Crea tu cuenta de Usuario</h2>
          <br />
          <p>Completa el formulario de admisión.</p>
          <p>Si ya tienes una cuenta, <a href="/login">Ingresa aquí</a>.</p>
        </section>
        <section class="sign_in_form">
        <form action="/users/edit/<%= userLogged.id %>?_method=PUT" method="POST">
          <div class="nombre_usuario_login">
            <h3><strong>Datos de Usuario</strong></h3>
            <br>
            <label for="name">Nombre y apellido</label>
            <input type="text" name="name" id="name" value="<%= userLogged.name %> "/>
            <!-- Usuario -->
            <label for="username">Usuario</label>
            <input type="text" name="username" id="username" value="<%= userLogged.username %> "/>
            <!-- Fecha de nacimiento -->
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= userLogged.email %> "/>
            <!-- Domicilio -->
            <label for="address">Domicilio</label>
            <input type="text" name="address" id="address" value="<%= userLogged.address %> "/>
            
          </div>
          <br>
          
           
          
          <div class="btn_login">
            <!-- boton Enviar -->
          <button type="submit">Guardar</button>
          </div>
          
        </form>
        </section>
      </div>
        
      </main>
      <%- include ('../partials/footer') %> 
      <%- include ('../partials/cursor') %> 
  </body>
</html>