<%- include ("../partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('../partials/header') %> 
    <main class="main_login">

      <div class="login_container">
        <section class="intro_login">
          <h2>Bienvenido!</h2>
          <br />
          <p>Ingresa a tu cuenta.</p>
          <p>Si no tienes una cuenta, <a href="/users/register">crea una</a>.</p>
        </section>
        <!-- SIGN IN -->
        <section class="sign_in_form">
          <h3>Log in</h3>
          <form action="/users/login" method="POST">
            <div class="nombre_usuario_login">
              <% if(locals.errors && errors.username){%>
                <p style="color:red"><%= errors.username.msg %></p>
              <%} %> 

              <label for="username">Nombre de usuario o Email</label>
              <input class="login_input" type="text" name="username" id="username"
               <% if(locals.errors){ %>
                value=" <%= locals.old && old.username %>"
              <%} %>  />
            </div>
            <div class="password_login">
              <% if(locals.errors && errors.password){%>
                <p style="color:red"><%= errors.password.msg %></p>
              <%} %> 
              <label for="password">Password</label>
              <input class="login_input" type="password" name="password" id="password" />
            </div>
            <div class="remember_me">
              <input type="checkbox" name="remember">
							<label for="remember">Recordar mi cuenta</label>
            </div>
            <button type="submit">Ingresar</button>
          </form>
        </section>
      </div>
    </main>

    <%- include ('../partials/footer') %>
    <%- include ('../partials/cursor') %>  
  </body>
</html>
