<%- include ("../partials/head") %>  <!-- HEAD -->

    <body>
        <%- include ('../partials/header') %> 

        <main>
            <div class="profile_container">
                <div class="profile">
                    <h2>Perfil de usuario</h2>
                    <ul>
                        <li>ID: <%=userLogged.id%></li>
                        <li>Nombre: <%=userLogged.name%></li>
                        <li>Nombre de usuario: <%=userLogged.username%></li>
                        <li>Fecha de Naciemiento: <%=userLogged.date%></li>
                        <li>Direccion: <%=userLogged.address%></li>
                        <li> <img src="/img/<%=userLogged.image%>" alt="profile_pic"> </li>
                    </ul>
                </div>
            </div>
        </main>

<%- include ('../partials/footer') %>
    <%- include ('../partials/cursor') %>  
  </body>
</html>