<%- include ("../partials/head") %>  <!-- HEAD -->

    <body>
        <%- include ('../partials/header') %> 

        <main>
            <div class="profile_container">
                <div class="profile">
                    <form action="/users/editUser<%= userLogged.id %>" method="get">
                        <h2>Perfil de usuario</h2>
                        <ul>
                            <li>ID: <%=userLogged.id%></li>
                            <li>Nombre: <%=userLogged.name%></li>
                            <li>Nombre de usuario: <%=userLogged.username%></li>
                            <li>Email: <%=userLogged.email%></li>
                            <li>Fecha de Naciemiento: <%=userLogged.date%></li>
                            <li>Direccion: <%=userLogged.address%></li>
                            <li> <img src="/img/<%=userLogged.image%>" alt="profile_pic"> </li>
                        </ul>
                        <button>Editar Usuario</button>
                    </form>
                </div>
            </div>
        </main>

<%- include ('../partials/footer') %>
    <%- include ('../partials/cursor') %>  
  </body>
</html>