<%- include ("../partials/head") %>  <!-- HEAD -->

  <body>
    <%- include ('../partials/header') %> 
    <main class="main_login">
      <div class="login_container"> 
        <section class="intro_login">
          <h2>Crea tu cuenta de Usuario</h2>
          <br />
          <p>Completa el formulario de admisión.</p>
          <p>Si ya tienes una cuenta, <a href="/login">Ingresa aquí</a>.</p>
        </section>
        <section class="sign_in_form">
        <form action="/users/register" method="post" enctype="multipart/form-data">
          <div class="nombre_usuario_login">
            <h3><strong>Datos de Usuario</strong></h3>
            <br>
            <label for="name">Nombre y apellido</label>
            <input type="text" name="name" id="name"    <% if(locals.errors){ %>
              value="<%= locals.old && old.name %>"
            <%} %>  />
            <% if(locals.errors && errors.name){%>
              <p style="color:red"><%= errors.name.msg %></p>
            <%} %> 
            <!-- Usuario -->
            <label for="username">Usuario</label>
            <input type="text" name="username" id="username"
            <% if(locals.errors){ %>
              value="<%= locals.old && old.username %>"
            <%} %>  />
            <% if(locals.errors && errors.username){%>
              <p style="color:red"><%= errors.username.msg %></p>
            <%} %> 
            <!-- Fecha de nacimiento -->
            <label for="email">Email</label>
            <input type="email" name="email" id="email" <% if(locals.errors){ %>
              value="<%= locals.old && old.email %>"
            <%} %> />
            <% if(locals.errors && errors.email){%>
              <p style="color:red"><%= errors.email.msg %></p>
            <%} %> 
            <!-- Domicilio -->
            <label for="address">Domicilio</label>
            <input type="text" name="address" id="address" <% if(locals.errors){ %>
              value="<%= locals.old && old.address %>"
            <%} %> />
            <% if(locals.errors && errors.address){%>
              <p style="color:red"><%= errors.address.msg %></p>
            <%} %> 
          </div>
          <br>
          <div class="password_login">
            <h3><strong>Contraseña</strong></h3>
            <br>
            <!-- Contraseña -->
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <% if(locals.errors && errors.password){%>
              <p style="color:red"><%= errors.password.msg %></p>
            <%} %> 
            <!-- Confirmar contraseña -->
            <label for="repassword">Confirmar Password</label>
            <input type="password" name="repassword" id="repassword" />
            <% if(locals.errors && errors.repassword){%>
              <p style="color:red"><%= errors.repassword.msg %></p>
            <%} %> 
            <label for="userPic">Foto de perfil</label>
            <input type="file" name="userPic" id="userPic" />
            <% if(locals.errors && errors.userPic){%>
              <p style="color:red"><%= errors.userPic.msg %></p>
            <%} %> 
          </div>
          <div class="btn_login">
            <!-- boton Enviar -->
          <button type="submit">Enviar</button>
          <!-- boton borrar -->
          <button class="borrar" type="reset">Borrar</button>
          </div>
          
        </form>
        </section>
      </div>
        
      </main>
      <%- include ('../partials/footer') %> 
      <%- include ('../partials/cursor') %> 
  </body>
</html>
